{% extends "layout.html" %}

{% block body %}

    <div class="col">
        <form action="/compare" enctype="multipart/form-data" method="post">
            <text>Upload files to compare</text> <br>
            <input name="file1" type="file"> <input name="file2" type="file"> <br> <br>
            <text>Choose method of comparison</text> <br>
            <input name="algorithm" type="radio" value="lines"> <text>Compare by lines</text> <br>
            <input name="algorithm" type="radio" value="sentences"> <text>Compare by sentences</text> <br>
            <input name="algorithm" type="radio" value="substrings"> <text>Compare by substrings. Length of substrings:</text>
            <br>
            <br>
            <br>
            <input name="length" type="number"> <br>
            <button type="submit">Compare</button>
        </form>
    </div>

{% endblock %}
